<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<fastCgi>
			<application fullPath="C:\Program Files\Python311\python.exe" arguments="C:\Program Files\Python311\Lib\site-packages\wfastcgi.py">
				<environmentVariables>
					<environmentVariable name="PYTHONPATH" value="C:\inetpub\Sites\CTPReportGenerator" />
					<environmentVariable name="WSGI_HANDLER" value="app.app" />
				</environmentVariables>
			</application>
		</fastCgi>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <handlers>
            <add name="CTP Home Fast CGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python311\python.exe|&quot;C:\Program Files\Python311\Lib\site-packages\wfastcgi.py&quot;" resourceType="Unspecified" />
        </handlers>
        <httpErrors errorMode="Detailed" />
	</system.webServer>
</configuration>