<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<fastCgi>
			<application fullPath="C:\Program Files\Python311\python.exe" arguments="C:\Users\Joshua.Bliven\AppData\Roaming\Python\Python311\site-packages\wfastcgi.py">
				<environmentVariables>
					<environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\CTPReportGenerator" />
					<environmentVariable name="WSGI_HANDLER" value="app.app" />
				</environmentVariables>
			</application>
		</fastCgi>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
        <handlers>
            <add name="CTPHomeFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\Python311\python.exe|C:\Users\Joshua.Bliven\AppData\Roaming\Python\Python311\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
	</system.webServer>
</configuration>