html {
    font-size: 16px;
    color: #fff;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*background-image: url("./assets/graybackaround.png");*/
    background-color: #0f1024;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("./assets/websitetestbannerpattern.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 2px solid #000;
    border-radius: 10px;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 10rem;
    z-index: 25;
}

h1 {
    display: inline-block;
    background-color: #ff0000;
    color: #000000ab;
    font-size: 2.5rem;
    border-radius: 10px;
}

nav a {
    background-color: #ccc;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 10px;
    font-weight: bold;
}

a {
    font-size: 1.3rem;
    margin: 4px;
    text-decoration: none;
}

p {
    margin: 0px auto;
    font-size: 2rem;
}

button {
    margin: 1rem;
    width: 10rem;
}

input {
    width: 50%;
    height: 1.2rem;
}

input, select, textarea {
    border-radius: 5px;
    background-color: #bbb;
    margin: 5px;
}

/*
main {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
*/

.rmv-margin {
    margin: 0px;
}

.alt-title {
    margin-right: 2rem;
}

.checkboxes {
    width: 2rem;
}

.calendar-label {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
}

.report-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    position: relative;
    top: 11rem;
    background-color: #e43f3f;
    box-shadow: 5px 10px #aa2626;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0px auto;
    width: 70%;
}

.report-row {
    padding: 1.5rem;
}

.report-link {
    padding: 5px;
    width: 20rem;
    margin-right: 1rem;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 10px;
}

.active-row {
    padding: 0.5rem;
}

.body-container {
    position: relative;
    top: 10rem;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
}

.mod-container {
    position: relative;
    top: 10rem;
    margin: 0px 0px;
    display: flex;
    flex-direction: column;
}

.container-blk {
    background-color: #000;
    border-radius: 10px;
    margin: 10px;
    padding: 3rem;
}

.container-gray {
    background-color: #999999af;
    padding: 3rem;
    width: 70%;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.set-forms {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.set-forms input, .set-forms textarea {
    margin-bottom: 1rem;
}

.report-nav {
    float: right;
}

/*
.side-banner {
    height: 100%;
    margin: 3rem;
    position: relative;
    top: 20rem;
}
*/

.pdf-container {
    position: relative;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calendar-item-group {
    border: 1px solid #fff;
    width: 60%;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdf-viewer {
    width: 90%;
    height: 35rem;
    margin: 3rem;
    border: 1px solid #fff;
}

.news-title {
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}

.news-body {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.news-time {
    font-size: 0.8rem;
    color: #000;
}

.notification-item {
    margin-bottom: 1.5rem;
    border: 2px solid #bbb;
    box-shadow: 3px 6px #999;
    width: 95%;
}

.qa-item {
    color: #666;
}

.question {
    width: 70%;
}

.responses {
    width: 50%;
    background-color: #0f1024;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.response-item {
    font-size: 0.8rem;
    background-color: #999;
    border: 1px solid #666;
    box-shadow: 3px 6px #444;
    border-radius: 10px;
    width: 85%;
    color: #000;
    padding: 5px;
    margin-top: 5px;
}

.response-body {
    font-size: 1.2rem;
}

.response-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.response-input {
    width: 20rem;
    height: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px #666;
}

.submit-btn {
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn, #search {
    width: 4rem;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin: 0px;
}

.client-cancel-date {
    margin-bottom: 1rem;
}

.result-item {
    font-size: 1rem;
    border: 1px solid #777;
}

#search {
    margin-bottom: 10px;
}

#search-label, #notif-label {
    font-size: 1.5rem;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 3px;
    margin: 5px;
}

#results {
    max-height: 10rem;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: auto;
}

#logo {
    width: 20rem;
    height: 10rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 2px 4px #666;
}

#notifications {
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    background-color: #4747e2;
    border: 1px solid #000;
    border-radius: 10px;
    width: 30%;
    height: 100%;
    float: right;
    z-index: 5;
    flex: 4;
}

#weekly-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    flex: 10;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    max-height: 700px;
    overflow: auto;
    background-color: #e43f3f;
    width: 100%;
    margin: 2rem 2rem 2rem 2rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 10px #aa2626;
    z-index: 5;
}

#weekly {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
    background-color: #ddce01;
    width: 100%;
    margin: 2rem 2rem 2rem 2rem;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 5px 10px #b4a801;
    z-index: 5;
}

#report-form {
    display: flex;
    flex-direction: column;
    width: 35%;
}

#scrollcheck {
    height: 200px;
    width: 30%;
    margin: 50px auto;
    background-color: #f00;
    z-index: 10;
}

#calendar-container {
    height: 100%;
}

#calendar-dims {
    width: 90%;
    height: 90%;
    border: 1px solid #fff;
}

#headspace {
    width: 11.4375rem;
}

#query {
    width: 80%;
}