<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connecting The Pieces</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <h1>Sorry, Access Denied</h1>
        <p>You do not have the proper permissions to access this page. Please contact your supervisor if the report you need is blocked.</p>
    </body>
</html>