<doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
    <body>
        <header>
            <a href="http://ctphome"><img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/></a>
            <h1 class="alt-title">Report Generator</h1>
        </header>
        <div class="report-container">
            <div class="report-row">
                <a class="report-link" href="http://ctphome/report-generator/agora-match">Appointment Match - Agora</a>
                <a class="report-link" href="http://ctphome/report-generator/insight-match">Appointment Match - Insight</a>
                <a class="report-link" href="http://ctphome/report-generator/active-contacts">Active Contacts Report</a>
            </div>
            <div class="report-row">
                <a class="report-link" href="http://ctphome/report-generator/late-conversions">Late Conversions Report</a>
                <a class="report-link" href="http://ctphome/report-generator/no-show-late-cancel">No Show/Late Cancel Report</a>
                <a class="report-link" href="http://ctphome/report-generator/provider-sessions">Provider Sessions Report</a>
            </div>
            <div class="report-row">
                <a class="report-link" href="http://ctphome/report-generator/provider-connections">Provider Connections Report</a>
            </div>
        </div>
    </body>
</html>