<doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/report-page.js') }}"></script>
</head>
    <body>
        <header>
            <a href="http://ctphome"><img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/></a>
            <nav>
                <a href="http://ctphome/report-generator">Reports</a>
                <a href="https://login.centralreach.com/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Doidc%26code_challenge%3DMk8V0dlqRysMkn69aGkC16cPrkEmBu2xPNTtBCHDaSA%26code_challenge_method%3DS256%26redirect_uri%3Dhttps%253A%252F%252Fmembers.centralreach.com%252F%2523auth%252Fcallback%26response_mode%3Dquery%26response_type%3Dcode%26scope%3Doffline_access%2520openid%26state%3D7c742204924b4a6b8416890d9b5e16a3" target="_blank">Central Reach</a>
                <a href="https://meetctp.sharepoint.com/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Sharepoint</a>
                <a href="http://ctphome/hipaa-training">HIPAA Training</a>
                <a href="http://ctphome/calendar">Calendars</a>
            </nav>
        </header>
        <div class="report-container">
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Billing</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/late-conversions">Late Conversions Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/no-show-late-cancel">No Show/Late Cancel Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/pad-indirect">PA Distance Indirect Time Report</a>
                </div>
            </div>
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Documents</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/certification-expiration">Certification Expiration Report</a>
                </div>
            </div>
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Appointments</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/agora-match">Agora CR Sessions Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/insight-match">Insight CR Sessions Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/clinical-util-tracker">Clinical Utilization Tracker</a>
                    <a class="report-link" href="http://ctphome/report-generator/school-matching">School Report Matching</a>
                </div>
            </div>
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Contacts</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/active-contacts">Active Contacts Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/provider-connections">Provider Connections Report</a>
                </div>
            </div>
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Conversions</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/forty-eight-hour-warning">48 Hour Conversion Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/client-cancels">High Cancellation Rate Report</a>
                </div>
            </div>
            <div class="folder-container">
                <div class="folder folder-toggle" aria-expanded="false">Recruiting</div>
                <div class="folder-content">
                    <a class="report-link" href="http://ctphome/report-generator/monthly-goals-report">Monthly Airtable Goals Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/valid-emails">Reengagement from Airtable</a>
                </div>
            </div>
        </div>
    </body>
</html>