<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certification Expiration Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/certification-expiration.js') }}"></script>
</head>
<body>
    <div class="container-blk">
        <h1>Certification Expiration Report</h1>
        <nav class="report-nav">
            <a href="http://ctphome/report-generator">Back to Reports</a>
            <a href="http://ctphome">Home</a>
        </nav>
        <div>
            <form id="report-form">
                <label>Status:</label>
                <div class="active-row">
                    <input class="checkboxes" type="checkbox" id="active" name="status" value="1">
                    <label for="active">Active</label>
                    <input class="checkboxes" type="checkbox" id="inactive" name="status" value="0">
                    <label for="inactive">Inactive</label>
                </div>
                
                <label for="timeframe">Expiration Timeframe</label>
                <select id="timeframe" name="timeframe" required>
                    <option value="30">30 Days</option>
                    <option value="60">60 Days</option>
                    <option value="90">90 Days</option>
                    <option value="180">6 Months</option>
                    <option value="365">1 Year</option>
                </select>
                
                <div>
                    <label for="provider">Provider Name:</label>
                    <input type="text" id="provider" name="provider">
                </div>

                <button id="generate" type="button">Generate Report</button>
            </form>
        </div>
    </div>
</body>
</html>