<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting The Pieces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <main class="container-blk">
        <section>
            <h1>Client Cancellations Report</h1>
            <nav class="report-nav">
                <a href="http://ctphome/report-generator">Back to Reports</a>
                <a href="http://ctphome">Home</a>
            </nav>
        </section>
        <section>
            <form id="report-form">
                <div class="client-cancel-date">
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date" name="start_date" required>
                    <br>
                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date" name="end_date" required>
                </div>
                <input type="text" id="provider" name="provider" placeholder="Provider" >
                <input type="text" id="client" name="client" placeholder="Client" >
                <div class="active-row">
                    <input class="checkboxes" type="checkbox" id="advanced" name="cancel_reason" value="Advanced Cancel">
                    <label for="advanced">Advanced Cancel</label>
                    <input class="checkboxes" type="checkbox" id="late" name="cancel_reason" value="Late Cancel">
                    <label for="late">Late Cancel</label>
                    <input class="checkboxes" type="checkbox" id="noshow" name="cancel_reason" value="No Show">
                    <label for="noshow">No Show</label>
                </div>
                <button onclick="generateReport()" type="button">Generate Report</button>
            </form>
        </section>
    </main>
    <section class="desc-container">
        <h2 class="in-bl">Report Description</h2>
        <p class="report-desc">
            The High Client Cancellation Report details a list of appointments within a 3 month timeframe. 
            It then groups all sessions by provider/client pairings and 
            calculates if each provider/client pair has had 3 cancallations in a row or not.
            It also calculates the percentage of sessions that were cancelled.
            All these calculations are broken down month to month. 
            Currently, this report is rigid in its execution method. The start date should always be determined 
            by taking the current month, going back two months, and choosing the first of that month.
            For Example: If the current month is May, the start date should be the first of the month, two months 
            prior, making it March 1st.
            <br>
            <span class="warning">Some Central Reach labels may be inaccurate due to duplicates in their system.</span>
        </p>
    </section>
    <script src="../static/js/client-cancels.js"></script>
</body>
</html>