<doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reports</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
        <body>
            <header>
                <img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/>
                <nav>
                    <a href="http://ctphome/report-generator">Reports</a>
                    <a href="https://login.centralreach.com/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Doidc%26code_challenge%3DMk8V0dlqRysMkn69aGkC16cPrkEmBu2xPNTtBCHDaSA%26code_challenge_method%3DS256%26redirect_uri%3Dhttps%253A%252F%252Fmembers.centralreach.com%252F%2523auth%252Fcallback%26response_mode%3Dquery%26response_type%3Dcode%26scope%3Doffline_access%2520openid%26state%3D7c742204924b4a6b8416890d9b5e16a3" target="_blank">Central Reach</a>
                    <a href="https://meetctp.sharepoint.com/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Sharepoint</a>
                    <a href="http://ctphome/hipaa-training">HIPAA Training</a>
                    <a href="http://ctphome/calendar">Holiday Calendar</a>
                </nav>
            </header>
            <div class="report-container">
                <div class="report-row">
                    <a class="report-link" href="http://ctphome/report-generator/agora-match">Appointment Match - Agora</a>
                    <a class="report-link" href="http://ctphome/report-generator/insight-match">Appointment Match - Insight</a>
                    <a class="report-link" href="http://ctphome/report-generator/active-contacts">Active Contacts Report</a>
                </div>
                <div class="report-row">
                    <a class="report-link" href="http://ctphome/report-generator/late-conversions">Late Conversions Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/no-show-late-cancel">No Show/Late Cancel Report</a>
                    <a class="report-link" href="http://ctphome/report-generator/provider-sessions">Provider Sessions Report</a>
                </div>
                <div class="report-row">
                    <a class="report-link" href="http://ctphome/report-generator/provider-connections">Provider Connections Report</a>
                </div>
            </div>
        </body>
    </html>