<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIPAA Training Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <header>
        <a href="http://ctphome"><img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/></a>
        <h1 class="alt-title">HIPAA Training Documents</h1>
    </header>
    <div class="pdf-container">
        <iframe src="../static/css/assets/OCR Summary of HIPAA Privacy Rule.pdf" class="pdf-viewer"></iframe>
        <iframe src="../static/css/assets/HIPAABasics.pdf" class="pdf-viewer"></iframe>
    </div>
</body>
</html>