<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Holiday Calendar</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <header>
            <a href="http://ctphome"><img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/></a>
            <nav>
                <a href="http://ctphome/report-generator">Reports</a>
                <a href="https://login.centralreach.com/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Doidc%26code_challenge%3DMk8V0dlqRysMkn69aGkC16cPrkEmBu2xPNTtBCHDaSA%26code_challenge_method%3DS256%26redirect_uri%3Dhttps%253A%252F%252Fmembers.centralreach.com%252F%2523auth%252Fcallback%26response_mode%3Dquery%26response_type%3Dcode%26scope%3Doffline_access%2520openid%26state%3D7c742204924b4a6b8416890d9b5e16a3" target="_blank">Central Reach</a>
                <a href="https://meetctp.sharepoint.com/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Sharepoint</a>
                <a href="http://ctphome/hipaa-training">HIPAA Training</a>
                <a href="http://ctphome/calendar">Calendars</a>
            </nav>
        </header>
        <div class="pdf-container" id="calendar-container">
            <div class="calendar-item-group">
                <label class="calendar-label">Holiday Calendar '25</label>
                <iframe class="pdf-viewer" src="../static/css/assets/CTP Holiday List 2025.pdf" class="pdf-viewer" ></iframe>
            </div>
            <div class="calendar-item-group">
                <label class="calendar-label">Payroll Calendar '25</label>
                <iframe class="pdf-viewer" src="../static/css/assets/2025 Semi_Monthly Payroll Schedule.pdf" class="pdf-viewer" ></iframe>
            </div>
            <div class="calendar-item-group">
                <label class="calendar-label">Blackout Calendar '24-'25 School Year</label>
                <iframe class="pdf-viewer" src="../static/css/assets/BlackoutDates25-24SY.pdf" class="pdf-viewer" ></iframe>
            </div>
        </div>
    </body>
</html>