<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting The Pieces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body>
    <header>
        <a href="http://ctphome/set"><img src="{{ url_for('static', filename='css/assets/websitetestlogo.png') }}" alt="CTP Logo" id="logo"/></a>
        <nav>
            <a href="http://ctphome/report-generator">Reports</a>
            <a href="https://login.centralreach.com/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Doidc%26code_challenge%3DMk8V0dlqRysMkn69aGkC16cPrkEmBu2xPNTtBCHDaSA%26code_challenge_method%3DS256%26redirect_uri%3Dhttps%253A%252F%252Fmembers.centralreach.com%252F%2523auth%252Fcallback%26response_mode%3Dquery%26response_type%3Dcode%26scope%3Doffline_access%2520openid%26state%3D7c742204924b4a6b8416890d9b5e16a3" target="_blank">Central Reach</a>
            <a href="https://meetctp.sharepoint.com/Shared%20Documents/Forms/AllItems.aspx" target="_blank">Sharepoint</a>
            <a href="http://ctphome/hipaa-training">HIPAA Training</a>
            <a href="http://ctphome/calendar">Calendars</a>
        </nav>
    </header>
    <section class="body-container">
        <div id="weekly-news">
            <div id="news">
                {% for article in news_articles %}
                    <div class="item-container">
                        <h2 class="news-title">{{ article.Title }}
                            {% if is_mod %}
                                <button class="delete-btn" data-id="{{article.NewsId}}" name="News_Posts">Delete</button>
                            {% endif %}
                        </h2>
                        <p class="news-body">{{ article.Body }}<span class="news-time">{{ article.RowModifiedAt }}</span></p>
                    </div>
                {% else %}
                    <p class="news-body">Put some News here.</p>
                {% endfor %}
            </div>
            <div id="weekly">
                {% for qa in weekly_qas %}
                    <div class="item-container">
                        <div class="qa-item">
                            <p class="question">{{ qa.Body }}
                                {% if is_mod %}
                                    <button class="delete-btn" data-id="{{qa.Id}}" name="WeeklyQA">Delete</button>
                                {% endif %}
                            </p>
                            <div class="responses">
                                {% for response in qa.responses %}
                                    <p class="response-item"><span class="response-body">{{ response.ResponseBody }}</span><br> - {{ response.CreatedBy }} at {{ response.CreatedAt }}</p>
                                    <br><br>
                                {% endfor %}
                            </div>
                            <form class="response-form" data-question-id="{{ qa.Id }}">
                                <textarea class="response-input" name="response" placeholder="Write your response..."></textarea>
                                <button class="submit-btn" type="button" onclick="submitResponse(this)">Submit</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <p>Weekly question and responses</p>
                {% endfor %}
            </div>
        </div>
        <div class="notif-search">
            <div class="code-search-section">
                <div id="code-search">
                    <label id="search-label">Service Code Quick Look-Up</label>
                    <input id="query" name="search" placeholder="Search Codes">
                    <button id="search">Search</button>
                </div>
                <div id="results"></div>
            </div>
            <div id="notifications">
                <label id="notif-label">Notifications</label>
                {% for notification in notifications %}
                    <div class="item-container">
                        <p class="notification-item">{{ notification.EventDate }}: {{ notification.Body }}
                            {% if is_mod %}
                                <button class="delete-btn" data-id="{{notification.NotifId}}" name="Notifications">Delete</button>
                            {% endif %}
                        </p>
                    </div>
                {% else %}
                    <p>Notification Bar</p>
                {% endfor %}
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/home-page.js') }}"></script>
</body>
</html>