<doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connecting The Pieces</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
    <body>
        <header>
            <img src="../static/css/assets/CTPLogo(Org).jpg" alt="CTP Logo" id="logo"/>
            <h1>Connecting the Pieces</h1>
            <nav>
                <a href="#">Home</a>
                <a href="http://localhost:5555/reports">Reports</a>
                <a href="https://login.centralreach.com/login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3Fclient_id%3Doidc%26code_challenge%3DMk8V0dlqRysMkn69aGkC16cPrkEmBu2xPNTtBCHDaSA%26code_challenge_method%3DS256%26redirect_uri%3Dhttps%253A%252F%252Fmembers.centralreach.com%252F%2523auth%252Fcallback%26response_mode%3Dquery%26response_type%3Dcode%26scope%3Doffline_access%2520openid%26state%3D7c742204924b4a6b8416890d9b5e16a3">Central Reach</a>
                <a href="#">HIPPA Training</a>
            </nav>
        </header>
    </body>
</html>