<doctype html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reports</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
        <body>
            <header>
                <a href="http://ctphome"><img src="../static/css/assets/websitetestlogo.png" alt="CTP Logo" id="logo"/></a>
                <h1 class="alt-title">Report Generator</h1>
            </header>
            <div class="report-container">
                <div class="report-row">
                    <a class="report-link" href="http://ctphome/report-generator/active-contacts">Active Contacts Report</a>
                    <a class="report-link" href="http://ctphome/report-generator">Clearance Expiration Report</a>
                </div>
            </div>
        </body>
    </html>