<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Show/Late Cancel Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/no-show-late-cancel.js') }}"></script>
</head>
<body>
    <div class="container-blk">
        <h1>No Show/Late Cancel Report</h1>
        <nav class="report-nav">
            <a href="http://ctphome/report-generator">Back to Reports</a>
            <a href="http://ctphome">Home</a>
        </nav>
        <div>
            <form id="report-form">
                <label for="app-start">App Start Date:</label>
                <input type="date" id="app-start" name="app-start" required>
                <label for="app-end">App End Date (+1 day):</label>
                <input type="date" id="app-end" name="app-end" required>
                <label for="provider">Provider Name:</label>
                <input type="text" id="provider" name="provider">
                <label for="client">Client Name:</label>
                <input type="text" id="client" name="client">
                <label>Report Type</label>
                <div>
                    <input class="school-choice-btns" type="radio" id="single" name="reportType" value="single" />
                    <label for="single">Single (single report for all schools)</label>
                </div>
                <div>
                    <input class="school-choice-btns" type="radio" id="multiple" name="reportType" value="multiple" />
                    <label for="multiple">Multiple (separate reports for each school)</label>
                </div>
                <button id="generate" type="button">Generate Report</button>
            </form>
        </div>
    </div>
    <section class="desc-container">
        <h2 class="in-bl">Report Description</h2>
        <p class="report-desc">
            The No Show/Late Cancellation Report is for billing purposes. It details all cancelled appointments that 
            were either No Show or Late Cancellations (less than 2 hours notice). This can be general for all 
            appointments in the given date range or it can be for a specific school, client, or provider. Any 
            combination of filters work as well.
            <br>
            <span class="warning">Some Central Reach labels may be inaccurate due to duplicates in their system.</span>
        </p>
    </section>
</body>
</html>