<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PA Distance Indirect Time Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/pad-indirect.js') }}"></script>
</head>
<body>
    <div class="container-blk">
        <h1>PA Distance Indirect Time Report</h1>
        <nav class="report-nav">
            <a href="http://ctphome/report-generator">Back to Reports</a>
            <a href="http://ctphome">Home</a>
        </nav>
        <div>
            <form id="report-form">
                <div>
                    <label for="start-date">Start Date:</label>
                    <input type="date" id="start-date" name="start_date" required>
                </div>
                <div>
                    <label for="end-date">End Date:</label>
                    <input type="date" id="end-date" name="end_date" required>
                </div>
                <button id="generate" type="button">Generate Report</button>
            </form>
        </div>
    </div>
    <section class="desc-container">
        <h2 class="in-bl">Report Description</h2>
        <p class="report-desc">
            The PA Distance Indirect Time Report is used to check if a 
            provider has used more indirect time than the school allows. 
            The appointments shown in the report will be between the Start Date and End Date 
            the user provides. It details how much direct and indirect time each provider/client pair have used 
            along with how much indirect time is allowed and whether the provider exceeded that limit or not.
            <br>
            <span class="warning">Some Central Reach labels may be inaccurate due to duplicates in their system.</span>
        </p>
    </section>
</body>
</html>