<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider Connections Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <script src="{{ url_for('static', filename='js/provider-connections.js') }}"></script>
</head>
<body>
    <div class="container-blk">
        <h1>Provider Connections Report</h1>
        <nav class="report-nav">
            <a href="http://ctphome/report-generator">Back to Reports</a>
            <a href="http://ctphome">Home</a>
        </nav>
        <div>
            <form id="report-form">
                <button onclick="generateReport()" type="button">Generate Report</button>
            </form>
        </div>
    </div>
    <section class="desc-container">
        <h2 class="in-bl">Report Description</h2>
        <p class="report-desc">
            The Provider Connections Report creates a connections between a provider and their client's school. 
            CR does not typically connect a provider to a school, only the client. This report shows the relation 
            between providers and schools they work with based on their clients.
            <br>
            <span class="warning">Some Central Reach labels may be inaccurate due to duplicates in their system.</span>
        </p>
    </section>
</body>
</html>